In [46]:
import pandas as pd

In [47]:
data_path = "data/intern_task.csv"

In [48]:
df = pd.read_csv(data_path)
df.head(10)

,rank,query_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_134,feature_135,feature_136,feature_137,feature_138,feature_139,feature_140,feature_141,feature_142,feature_143
0,0,10,1.0,0.0,1.0,3.0,3.0,0.333333,0.0,0.333333,...,0.0,0.000000,0.454545,0.890238,8.655534,1.000000,0.077778,0.002222,1.0,0.333333
1,1,10,3.0,0.0,3.0,0.0,3.0,1.000000,0.0,1.000000,...,0.0,0.000000,0.000000,0.773976,23.130514,0.000000,0.027826,0.000430,44.0,14.666667
2,0,10,3.0,0.0,2.0,0.0,3.0,1.000000,0.0,0.666667,...,0.0,0.000000,0.000000,0.918308,13.351339,0.000000,0.014925,0.000104,22.0,7.333333
3,1,10,3.0,0.0,3.0,0.0,3.0,1.000000,0.0,1.000000,...,0.0,0.000000,0.000000,0.975355,18.240926,0.000000,0.053140,0.000255,8.0,2.666667
4,2,10,3.0,0.0,3.0,1.0,3.0,1.000000,0.0,1.000000,...,273.0,79.670665,0.200000,0.990119,31.786048,0.333333,0.046512,0.000307,24.0,8.000000
5,1,10,3.0,0.0,3.0,1.0,3.0,1.000000,0.0,1.000000,...,0.0,0.000000,0.200000,0.974819,22.936731,0.333333,0.033233,0.000093,28.0,9.333333
6,1,10,3.0,0.0,3.0,0.0,3.0,1.000000,0.0,1.000000,...,3.0,16.200000,0.000000,0.945281,18.240926,0.000000,0.013008,0.000023,5.0,1.666667
7,0,10,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
8,0,10,2.0,0.0,1.0,0.0,2.0,0.666667,0.0,0.333333,...,218.0,55.069946,0.000000,0.448807,4.695805,0.000000,0.002153,0.000002,5.0,1.666667
9,0,10,3.0,0.0,0.0,0.0,3.0,1.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.975608,0.000000,0.000000,0.021583,0.000040,9.0,3.000000

In [49]:
df.isna().sum()

rank           0
query_id       0
feature_0      0
feature_1      0
feature_2      0
              ..
feature_139    0
feature_140    0
feature_141    0
feature_142    0
feature_143    0
Length: 146, dtype: int64

In [50]:
query_id_values_df = df["query_id"].value_counts()

cut_df_query_ids = query_id_values_df[query_id_values_df.values <= 20].keys().values

In [51]:
cut_df = df[df["query_id"].isin(cut_df_query_ids)]
cut_df.head(10)

,rank,query_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_134,feature_135,feature_136,feature_137,feature_138,feature_139,feature_140,feature_141,feature_142,feature_143
13319,0,1825,1.0,0.0,1.0,0.0,1.0,0.5,0.0,0.5,...,0.0,0.0,0.000,0.379624,9.174194,0.0,0.008427,0.000055,5.0,2.5
13320,0,1825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0
13321,0,1825,2.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.000,0.982561,0.000000,0.0,0.001622,0.000000,3.0,1.5
13322,0,1825,1.0,0.0,0.0,0.0,1.0,0.5,0.0,0.0,...,0.0,0.0,0.000,0.379624,0.000000,0.0,0.001592,0.000003,1.0,0.5
13323,0,1825,2.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.000,0.982561,0.000000,0.0,0.000757,0.000000,3.0,1.5
13324,1,1825,1.0,0.0,0.0,0.0,1.0,0.5,0.0,0.0,...,0.0,0.0,0.000,0.379624,0.000000,0.0,0.008065,0.000081,2.0,1.0
13325,0,1825,1.0,0.0,1.0,0.0,1.0,0.5,0.0,0.5,...,0.0,0.0,0.000,0.379624,9.174194,0.0,0.041667,0.001338,3.0,1.5
13326,0,1825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0
13327,0,1825,1.0,0.0,0.0,0.0,1.0,0.5,0.0,0.0,...,2.0,9.4,0.000,0.379624,0.000000,0.0,0.000975,0.000001,2.0,1.0
13328,1,1825,1.0,0.0,1.0,1.0,1.0,0.5,0.0,0.5,...,1.0,6.8,0.125,0.379624,18.348388,0.5,0.034448,0.001132,65.0,32.5